<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto);
  @keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
  }

  .md-radio {
    margin: 16px 0;
  }

  .md-radio.md-radio-inline {
    display: inline-block;
  }

  .md-radio input[type="radio"] {
    display: none;
  }

  .md-radio input[type="radio"]:checked + label:before {
    border-color: #337ab7;
    animation: ripple 0.2s linear forwards;
  }

  .md-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
  }

  .md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
  }

  .md-radio label:before,
  .md-radio label:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
  }

  .md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.54);
  }

  .md-radio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #337ab7;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .chkprimary {
    margin-left: 3%;
    display: inline-block;
  }

  .chksecondary {
    display: inline-block;
    margin-left: 5%;
    /* top: 28%; */
    /*margin-top: -7%;*/
    /* margin-left: -27%; */
    /*margin-right: 74%;*/
  }
</style>
<script type="text/javascript">
  $(function() {
    $("#chkprimary").change(function() {
      
      base.timeinternsecondary = $(this).find('input:checked').val();
      
    });
    $("#chksecondary").change(function() {
      var val = $(".md-radio input:checked").val();
      base.timeinternprimary = $(this).find('input:checked').val();
    });
  });
</script>

<div id="chksecondary" style="visibility:hidden;" class="chksecondary">
  <div class="md-radio">
    <input id="3" type="radio" name="a" value="yyyy" />
    <label for="3">Year</label>
  </div>
  <div class="md-radio">
    <input id="4" type="radio" name="a" value="Month" checked="checked" />
    <label for="4">Month</label>
  </div>
</div>
<div id="chkprimary" style="visibility:hidden;" class="chkprimary">
  <div class="md-radio">
    <input id="1" type="radio" name="g" value="yyyy" />
    <label for="1">Year</label>
  </div>
  <div class="md-radio">
    <input id="2" type="radio" name="g" value="Month" checked="checked" />
    <label for="2">Month</label>
  </div>
</div>
