<script src='../../datepicker/moment.min.js'></script>
<script src="../../vdashboard/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<style>
.topdatepicker {
    float: right;
    margin-bottom: 2px;
    margin-right: 33px;
    margin-top: -30px;
}

.topdatepicker input[type="text"] {
    display: block;
    width: 200px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
</style>
<script type="text/javascript">
var filterparam = {};

var datefilter = new Object();

var startdate = moment(serverdate).subtract(30, 'd').format('YYYY-MM-DD');
var enddate = moment(serverdate).format('YYYY-MM-DD');


datefilter.startdate = startdate;
datefilter.enddate = enddate;
filterparam.daterange = datefilter;



$(function() {


$('body').on('focus',".datepicker", function(){

    if( $(this).hasClass('datepicker') )  {
        $(this).daterangepicker({
            locale: {
                format: 'YYYY-MM-DD'
            },
            singleDatePicker: true,
            startDate: enddate,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        },
        function(start, end, label) {
            var searchdatefilter = new Object();
            searchdatefilter.startdate = start.format('YYYY-MM-DD');
            searchdatefilter.enddate = end.format('YYYY-MM-DD');
            
            base.searchdatefilter=searchdatefilter;

        })

    }

});

    $('input[name="daterange"]').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD'
            },
            startDate: startdate,
            endDate: enddate
        },
        function(start, end, label) {
          /*  console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))*/
            var datefilter = new Object();
            datefilter.startdate = start.format('YYYY-MM-DD');
            datefilter.enddate = end.format('YYYY-MM-DD');

            filterparam.colsearch = "createdAt";
            filterparam.datecolsearch=base.datecolsearch;
            filterparam.searchparam = "NA";
            filterparam.daterange = datefilter;
            base.pageno = 0;
            base.pageSize = 20;
            filterparam.pageno = base.pageno
            filterparam.pageSize = base.pageSize
            base.datapayload = filterparam;
            console.log(base.datapayload);
            $("#dvreportcontainer").show();
            $("#dvparentfilterbar").show();
            $("#dvreportcontainer").addClass('loading-report-container')
            basefunction().getpaginatesearchtype(base).then(function(argument) {
                //console.log(argument);
              
                htmlpopulate.htmlpopulatetable(argument);
                basepagination.bootpagination(argument);
               
                if ($("#dvreportcontainer").hasClass('collapsed-box')) {

                    $("#rptwidget").click();
                    
                }
                $("#dvreportcontainer").removeClass('loading-report-container')
            })
            /* var data = angular
                 .element(document.querySelector('[ng-controller="baseController"]'))
                 .scope()
                 .pagingsearchtype();*/
        });
});
</script>



<div class="topdatepicker" style="display: none;" >
    <input type="text" name="daterange" class="form-control pull-right" id="reservation">
</div>
<div style="margin-left: 18px;">
    <div style="display: inline-block;">
        <div class="zoom-menu">
            <a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></a>
        </div>
    </div>
    <div style="display: inline-block;">
        <input style="display: none;" type="file" id="uploadfiles" name="uploadfiles" onchange="reqops.fileSelected(this)" multiple="multiple">
        <a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition" id="fileup" onclick="reqops.flpupload();"><i class="fa fa-upload" ></i> </a>
    </div>
    <div style="display: inline-block;">
        <a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition"><i class="fa fa-download" onclick="javascript:reqops.exportexcel()" ></i></a>
    </div>
    <div style="display: none;">
        <button type="button" id="btnbutton" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
            Launch Default Modal
        </button>
    </div>
   <div style="display: inline-block;float: right;margin: 0 19px 0 0;">
         <select id="seldatefields" onchange="javascript:pivotutils.setseldatefields();">
    </select>
    </div>
</div>