<style type="text/css">
.pace-running>*:not(.pace) {
    opacity: 0;
}

.mar-right-0 {
    padding-right: 0px !important;
}

.mar-left-0 {
    padding-left: 0px !important;
}
</style>
<script type="text/javascript" src="../../js/papaparse.min.js"></script>
<script src="../../vdashboard/bower_components/jquery/dist/jquery.min.js"></script>

<!--   <script>
window.paceOptions = {
    ajax: {
        trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
    }
};
</script> -->
<script type="text/javascript">
/*
readyState  Holds the status of the XMLHttpRequest. 
0: request not initialized 
1: server connection established
2: request received 
3: processing request 
4: request finished and response is ready*/


/*var oldXHR = window.XMLHttpRequest;

function newXHR() {
    var realXHR = new oldXHR();
    realXHR.addEventListener("readystatechange", function() {

            if (realXHR.readyState == 4 && realXHR.status == 200) {
              //  console.log(realXHR.responseURL);
                var meh = realXHR.responseURL;
                substring = "api";
                if (meh.indexOf(substring) !== -1) {
                    //Pace.restart();
                    
                }
            }

            }, false);
        return realXHR;
    }
    window.XMLHttpRequest = newXHR;
*/



window.paceOptions = {
    document: true, // disabled
    eventLag: true,
    restartOnPushState: true,
    restartOnRequestAfter: true,
    ajax: {
        trackMethods: [ 'POST','GET'],
        ignoreURLs: ['searchtype','pivotresult','login','exportexcel','create','update']
    }

};


 /*   window.paceOptions = {
        document: true, // disabled
        eventLag: true,
        restartOnPushState: true,
        restartOnRequestAfter: true,
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
        }

    };*/
</script>
<script src="../../pace/pace.min.js"></script>
<link href="../../pace/theme/flattop.css" rel="stylesheet" />
<!-- <link href="../../pace/theme/pace_analytics.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/generic-loader-bar.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/big-counter.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/pace_analytics.css" rel="stylesheet" /> -->