<style type="text/css">
.pace-running>*:not(.pace) {
    opacity: 0;
}

.mar-right-0 {
    padding-right: 0px !important;
}

.mar-left-0 {
    padding-left: 0px !important;
}
</style>
<script type="text/javascript" src="../../js/papaparse.min.js"></script>
<script src="../../vdashboard/bower_components/jquery/dist/jquery.min.js"></script>

<script src="../admin/js/app/basereporting/addressloader.js"></script>
<script src="../../pace/pace.min.js"></script>
<link href="../../pace/theme/flattop.css" rel="stylesheet" />
<!-- <link href="../../pace/theme/pace_analytics.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/generic-loader-bar.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/big-counter.css" rel="stylesheet" /> -->
<!-- <link href="../../pace/theme/pace_analytics.css" rel="stylesheet" /> -->