<div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-info">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                           <!--  <input type="hidden" name="employeesid" value="0" id="cltrlemployeesid"> -->
                            <div class="box-body" id="overlaycontent">
                                <!-- <div class="form-group overlaytxtalign col-md-5">
                                    <div class="col-sm-15">
                                        <label class="lblhide" id="lblmsgfirst_name">
                                            <i class="fa fa-bell-o"></i> Input with warning
                                        </label>
                                        <input type="text" data-attribute="email" class="form-control" maxLength="100" data-form-type="false" onkeyup="javascript:formvalidation(this)" id="cltrlfirst_name" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group overlaytxtalign col-md-5">
                                    <div class="col-sm-15">
                                        <label class="lblhide" id="lblmsglast_name">
                                            <i class="fa fa-bell-o"></i> Input with warning
                                        </label>
                                        <input type="text" class="form-control" id="cltrllast_name" onkeyup="javascript:formvalidation(this)" data-attribute="text" data-form-type="false" maxLength="100" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group overlaytxtalign col-md-5">
                                    <div class="col-sm-15">
                                        <label class="lblhide" id="lblmsggender">
                                            <i class="fa fa-bell-o"></i> Input with warning
                                        </label>
                                        <input type="text" data-attribute="text" class="form-control" id="cltrlgender" data-form-type="false" onkeyup="javascript:formvalidation(this)" maxLength="100" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group overlaytxtalign col-md-5">
                                    <div class="col-sm-offset-2 col-sm-15">
                                        <div>
                                            <label>
                                                <input type="checkbox" id="cltrlrecordstate" onclick="javascript:onchk(this)" value="active"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnmodalclose" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" id="btnmodalsub" class="btn btn-primary" disabled="true" onclick="javascript:reqops.btnSubmit();">Save changes</button>
                        <button type="button" id="btnmodalsub" class="btn btn-primary"  onclick="javascript:reqops.clearControls();">clear controls</button>
                    </div>
                </div>
            </div>
        </div>
    </div>