<div>
    yaxis:
    <select id="selyaxis" onchange="javascript:pivotutils.setselyaxis();">
    </select>
    xaxis:
    <select id="selxaxis" onchange="javascript:pivotutils.setselxaxis();">
    </select>
</div>

<%- include('../../public/components/radiobutton.html'); %>
<div style="display: inline-block;">
    <div class="zoom-menu">
        <a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition" onclick="javascript:pivotutils.pivotreport();"><i class="fa fa-bolt"></i></a>
        <a id="btnPivotDownload" style="display:none;" class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition" onclick="javascript:pivotutils.exportexcelPivot();"><i class="fa fa-download"></i></a>
    </div>
</div>
<div class="pull-right">
    <div id="page-selection-yaxis"></div>
</div>
<div class="clear"></div>
<div class="col-lg-3 col-xs-3 mar-right-0">
    <table border="1" id="tblpivotcol" class="table table-bordered table-striped dataTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="dvaxis" class="col-lg-9 col-xs-9 mar-left-0">
    <table border="1" id="tblpivotxaxis" class="table table-bordered table-striped dataTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="page-selection-xaxis"></div>
</div>