<!DOCTYPE html>
<html>
<head>
<script>
</script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="../../admin/js/app/fieldValidations.js"></script>
  <script src="../../admin/js/app/customControls.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css" integrity="sha512-1diPgCATeJwHrxYhKZWrv1rINfMVAdmxpYxPK44MCfzqRJk/rhxh4GS9xgaLLuvr9Q9KHJ+EiajOLs7zuBEqzA==" crossorigin="anonymous" />
<style>
  .form-group {
  padding-bottom: 7px;
  margin: 28px 0 0 0;
}
  label.lblhide {
        display: none;
    }
    label.hide {
        display: none;
    }

    label.control-label-format {
        color: #ff5722!important;
        font-size: 12px!important;
        line-height: 1.07142857!important;
        font-weight: 400!important;
        margin: 16px 0 0 0!important;
        position: absolute!important;
        top: -30px!important;
    }
</style>
  <script>
    let validationmap=[{
	"inputtype": "textbox",
	"inputCustomMapping": "firstname",
	"inputname": "firstname",
	"inputplaceholder": "please enter First name",
	"fieldtypename": "STRING",
	"fieldvalidatename": "string",
	"fieldmaxlength": "80",
	"inputisPrimary": false
}, {
	"inputtype": "textbox",
	"inputCustomMapping": "mobilenumber",
	"inputname": "mobilenumber",
	"inputplaceholder": "Please enter mobile",
	"fieldtypename": "INTEGER",
	"fieldvalidatename": "mobile",
	"fieldmaxlength": "80",
	"inputisPrimary": false
}, {
	"inputtype": "textbox",
	"inputCustomMapping": "email",
	"inputname": "email",
	"inputplaceholder": "please enter email",
	"fieldtypename": "STRING",
	"fieldvalidatename": "email",
	"fieldmaxlength": "80",
	"inputisPrimary": false
}, {
	"inputtype": "textbox",
	"inputCustomMapping": "address",
	"inputname": "address",
	"inputplaceholder": "Please enter address",
	"fieldtypename": "STRING",
	"fieldvalidatename": "alphaNumericValidation",
	"fieldmaxlength": "80",
	"inputisPrimary": false
}]
  </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="box-body" id="overlaycontent">
    </div>
  </div>
  <script src="../../admin/js/app/app_mroleset-client.js"></script>
</body>

</html>