<script src="https://code.jquery.com/jquery-2.2.4.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<h5 class="text-center">Dynamic Control : Text Box, Dropdown List, Radiobox and Checkbox</h5>
<section class="container">
    <input name="DynamicTextBox" id="txtmodulename" width="25%" type="text" value="">
    <br />
    <br />
    <div class="table table-responsive">
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <td>fieldtypeBox</td>
                    <td>table</td>
                    <td>fields</td>
                    <td>TextBox</td>
                    <td>placeholder</td>
                    <td>field type</td>
                    <td>validation type</td>
                    <td>length type</td>
                    <td>BTN</td>
                    <td>add content BTN</td>
                </tr>
            </thead>
            <tbody id="TextBoxContainer">
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <button id="btnAdd" type="button" class="btn btn-primary" data-toggle="tooltip"
                            data-original-title="Add more controls"><i
                                class="glyphicon glyphicon-plus-sign"></i></button>
                    </th>
                </tr>
                <tr>
                    <th colspan="5" id="jsonatt1">
                </tr>
                <tr>
                    <th colspan="5" id="jsonatt2">
                </tr>
                <tr>
                    <th colspan="5" id="jsonatt3">
                </tr>
                
            </tfoot>
        </table>
    </div>
</section>
<input id="btnAddsss" type="button" value="get json from table">
<input id="btnserver_client" type="button" onclick='javascript:base_server();' value="generate scaffolding">

<script>
    var based = "<%= mod %>"
    var killzone = JSON.parse(based.replace(/\&#34;/g, '\"'))
    var killzones = killzone.map(function (doctor) {
        return doctor.mod
    });
    console.log(killzones)
    let basechange = function (data) {
        var ids = $(data).data()["animalType"]
        if ($(data).val() == "textbox") {


            $("#fieldtype_" + ids).val('STRING')
            $("#validation_" + ids).val('string')
        }
        else {
            $("#fieldtype_" + ids).val('INTEGER')
            $("#validation_" + ids).val('number')
        }

    }
    let onmodelchange = function (data) {

        var killzon = killzone.filter(function (doctor) {
            return doctor.mod === $(data).val(); // if truthy then keep item
        }).map(function (doctor) {
            return doctor.attr
        })[0]
        var re = ""

        var ids = $(data).data()["animalType"]
        $("#textbox_" + ids).val($(data).val() + "id")


        $("#childname_" + ids).html("")

        killzon.forEach(function (element) {
            re += '<option>' + element + '</option>'
        });
        $("#childname_" + ids).html(re)
    }
    $(document).ready(function () {

        $("#btnAdd").bind("click", function () {
            var div = $("<tr class='parent' />");


            div.html(GetDynamicTextBox(""));
            $("#TextBoxContainer").append(div);
        });

        $('body').on('click', '.btn_Child', function () {
            var div = $("<tr class='childelem' />");
            div.html(GetDynamiccontrols(""));
            $("#TextBoxContainer").append(div);
        });

        $("body").on("click", ".remove", function () {
            $(this).closest("tr").remove();
        });

        var regex = ['string', 'email', 'number', 'mobile', 'passwordvalidation', 'date']
        var ddlclientfieldtype = ['textbox', 'radio', 'checkbox', 'multiselect', 'singleselect', 'multiselect-ajax', 'singleselect-ajax']

        function GetDynamicTextBox(value) {

            console.log(value)
            var rowCount = $("#TextBoxContainer tr").length;
            var re = '<td><select name="" class="formcom bredter" data-animal-type=' + rowCount + ' onchange="javascript:basechange(this)" >';
            ddlclientfieldtype.forEach(function (element) {
                re += '<option>' + element + '</option>'
            });
            re += '</td><td><select name="" class="formcom bredter" data-animal-type=' + rowCount + ' onchange="javascript:onmodelchange(this)">';
                re += '<option>--Please Select Table --</option>'
                killzones.forEach(function (element) {
                re += '<option>' + element + '</option>'
            });

            re += '</td><td><select id="childname_' + rowCount + '" name="" class="formcom bredter">';
            re += '<option>--Please Select FieldType --</option>'    
            ddlclientfieldtype.forEach(function (element) {
                re += '<option>' + element + '</option>'
            });
            re += '</td><td><input id="textbox_' + rowCount + '" name = "DynamicTextBox" type="text" value = "' + value + '" class="formcom" /></td>' + '<td><input name = "placeholderTextBox" type="text" value = "' + value + '" class="formcom" /></td>' + '<td><select name="" id="fieldtype_' + rowCount + '" class="formcom bredalpha"><option>STRING</option><option>INTEGER</option><option>BIGINT</option><option>boolean</option><option>ARRAY(DataTypes.INTEGER)</option><option>DATE</option></select></td><td><select name="" id="validation_' + rowCount + '" class="formcom bredbeta">';
            regex.forEach(function (element) {
                re += '<option>' + element + '</option>'
            });
            re += '</td><td><input  type="number" min="1" max="100"  value="80" class="form-control">'
            re += '</td>' + '<td><button type="button" class="btn btn-danger remove"><i class="glyphicon glyphicon-remove-sign"></i></button></td>' + '<td><button type="button"  class="btn btn-primary base btn_Child"><i   class="glyphicon glyphicon-plus-sign"></i></button></td>'
            return re;
            //onclick="javascript:addcontent(this)"
        }
        var arintern = []
        $("#btnAddsss").button().click(function () {
            
            arintern = []
            $('table tbody tr.parent').each(function (index) {
                var internobj = {}



                internobj.inputtype = $(this.cells[0]).find('option:selected').text().trim()
                if (internobj.inputtype != "textbox") {
                    internobj.inputtypemod = $(this.cells[1]).find('option:selected').text().trim()
                    internobj.inputtypeVal = $(this.cells[2]).find('option:selected').text().trim()
                    internobj.inputtypeID = internobj.inputtypemod + "id"
                }

                internobj.inputname = $(this.cells[3]).find('input').val().trim()
                internobj.inputplaceholder = $(this.cells[4]).find('input').val().trim()
                internobj.fieldtypename = $(this.cells[5]).find('option:selected').text().trim()
                internobj.fieldvalidatename = $(this.cells[6]).find('option:selected').text().trim()
                internobj.fieldmaxlength = $(this.cells[7]).find('input').val().trim()



                var arinterns = []
                var childelem = $(this).next('tr.childelem')
                childelem.each(function () {

                    var childinterobj = {}
                    childinterobj.val = $(this.cells[0]).find('input').val().trim()
                    childinterobj.text = $(this.cells[1]).find('input').val().trim()
                    arinterns.push(childinterobj)
                    childinterobj = {}
                })
                if (arinterns.length > 0) {
                    internobj.childcontent = arinterns
                }

                arintern.push(internobj)


                internobj = {}
            });
            var swaggerJson = arintern.map(function (doctor) {
                console.log(doctor)
                var o = {}
                if (doctor.fieldtypename == "DATE") {
                    o.type = "string";
                    o.fieldname = doctor.inputname;
                    o.format = "date-time";
                    var exampledt=new Date();
                    o.example =exampledt.toString() 
                }
                else if (doctor.fieldtypename == "boolean") {
                    o.type = doctor.fieldtypename;
                    o.fieldname = doctor.inputname;
                    o.example = true;
                }
                else if (doctor.fieldtypename == "INTEGER") {
                    o.type = "integer";
                    o.fieldname = doctor.inputname;
                    o.format = "int64";
                    o.example = 20;
                }
                else if (doctor.fieldtypename == "ARRAY(DataTypes.INTEGER)") {
                    o.type = "array";
                    o.fieldname = doctor.inputname;
                    o.format = "array";
                    o.example = [1, 2];
                }
                else {

                    o.type = "string";
                    o.fieldname = doctor.inputname;
                    o.example = "sample text";
                }
                return o;
            });

            $("#jsonatt1").html(JSON.stringify(arintern, null, "\t"))
            $("#jsonatt2").html(JSON.stringify(swaggerJson, null, "\t"))
        });
    })

    function addcontent(ar) {
        var internset = $(ar).closest('tr');

        var div = $("<tr class='childelem' />");
        div.html(GetDynamiccontrols(""));

        // $(internset).append(div);
    }

    function GetDynamiccontrols(value) {
        var re = ""
        re += '<td><input name = "DynamicTextBox" placeholder=\'value\' type="text" value = "' + value + '" class="formcom" /></td>' + '<td><input name = "placeholderTextBox" placeholder=\'text\' type="text" value = "' + value + '" class="formcom" /></td>' + '<td><button type="button" class="btn btn-danger remove"><i class="glyphicon glyphicon-remove-sign"></i></button></td>';
        return re;
    }
    function base_server() {
        var non_multiserver_client = [{ "inputtype": "textbox", "inputname": "firstname", "inputplaceholder": "meh", "fieldtypename": "STRING", "fieldvalidatename": "string", "fieldmaxlength": "80" }, { "inputtype": "textbox", "inputname": "lastname", "inputplaceholder": "last name", "fieldtypename": "STRING", "fieldvalidatename": "string", "fieldmaxlength": "80" }, { "inputtype": "textbox", "inputname": "age", "inputplaceholder": "age", "fieldtypename": "INTEGER", "fieldvalidatename": "number", "fieldmaxlength": "80" }, { "inputtype": "textbox", "inputname": "phone", "inputplaceholder": "mobile", "fieldtypename": "INTEGER", "fieldvalidatename": "mobile", "fieldmaxlength": "80" }]
        var server_client = [{
            "inputtype": "textbox",
            "inputname": "firstname",
            "inputplaceholder": "meh",
            "fieldtypename": "STRING",
            "fieldvalidatename": "string",
            "fieldmaxlength": "80"
        }, {
            "inputtype": "textbox",
            "inputname": "lastname",
            "inputplaceholder": "last name",
            "fieldtypename": "STRING",
            "fieldvalidatename": "string",
            "fieldmaxlength": "80"
        }, {
            "inputtype": "textbox",
            "inputname": "age",
            "inputplaceholder": "age",
            "fieldtypename": "INTEGER",
            "fieldvalidatename": "number",
            "fieldmaxlength": "80"
        }, {
            "inputtype": "textbox",
            "inputname": "phone",
            "inputplaceholder": "mobile",
            "fieldtypename": "BIGINT",
            "fieldvalidatename": "mobile",
            "fieldmaxlength": "80"
        }
        // , {
        //     "inputtype": "checkbox",
        //     "inputtypemod": "modname",
        //     "inputtypeVal": "mname",
        //     "inputtypeID": "modnameid",
        //     "inputname": "modnameid",
        //     "inputplaceholder": "Gender",
        //     "fieldtypename": "ARRAY(DataTypes.INTEGER)",
        //     "fieldvalidatename": "number",
        //     "fieldmaxlength": "80"
        // }
    ]
        var swagger = [{ "type": "string", "fieldname": "firstname", "example": "sample text" }, { "type": "string", "fieldname": "lastname", "example": "sample text" }, { "type": "integer", "fieldname": "age", "format": "int64", "example": true }, { "type": "integer", "fieldname": "phone", "format": "int64", "example": true } 
        // ,{
        //     "type": "array",
        //     "fieldname": "modnameid",
        //     "format": "array",
        //     "example": [1, 2]
        // }
    ]
        // var server_client=$("#jsonatt1").val();
        // var swagger=$("#jsonatt2").val();
        console.log(swagger);
        console.log(server_client);
        var datapayloadModulename = $("#txtmodulename").val()
        var ajaxbase = {}
        ajaxbase.method = "jedha"
        ajaxbase.payload = [{
            datapayloadModulename,
            server_client, swagger
        }]
        console.log(ajaxbase.payload)
        ajaxutils.basepostmethod(ajaxbase).then(function (data) {
            console.log(data)
            
           $("#jsonatt3").html("run  yarn applychangesDB in command line (bash, wsl etc)")
        })
    }
    function base_db() {

        var datapayloadModulename = $("#txtmodulename").val()
        var ajaxbase = {}
        ajaxbase.method = "jedha1"
        ajaxbase.payload = [{
            datapayloadModulename
        }]
        ajaxutils.basepostmethod(ajaxbase).then(function (data) {
            console.log(data)
        })
    }
    let ajaxutils = {
        basepostmethod: function (ajaxbase) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "POST",
                    url: "/black-squadron/" + ajaxbase.method,
                    //contentType: "application/json",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(ajaxbase.payload),
                    success: function (data) {
                        resolve(data);
                        //console.log(data)
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        reject(xhr);
                    }
                });
            });
        }
    }
</script>
<style>
    .formcom {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>