<!DOCTYPE html>
<html>
<head>
  <script>
  </script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  
  <!-- Bootstrap Material Design style -->
  <!-- <link rel="stylesheet" href="../../material/dist/css/bootstrap-material-design.min.css"> -->
  <!-- //for bootstrap 4.3.1 
            $("#overlaycontent .custom-control-input").removeClass('custom-control-input').addClass('form-check-label')
            //end here -->
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../vdashboard/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../vdashboard/dist/css/bootstrap-material-design.min.css">
  <style>
    .form-group {
      padding-bottom: 7px;
      margin: 28px 0 0 0;
    }

    label.lblhide {
      display: none;
    }

    label.hide {
      display: none;
    }

    label.control-label-format {
      color: #ff5722 !important;
      font-size: 12px !important;
      line-height: 1.07142857 !important;
      font-weight: 400 !important;
      margin: 16px 0 0 0 !important;
      position: absolute !important;
      top: -30px !important;
    }
  </style>

  <script>
    
    let validationmap = //baseValidationMap
  </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="box-body" id="overlaycontent">
  </div>
  </div>
  </div>

  <!--for ajax calls-->
  <!--Ajax calls-->
  <!-- Multiselect .js -->
  <!--Multiselect calls-->
  <!-- end here -->
<!--end region-->
<script src="../../admin/js/app/customControls.js"></script>  
<script src="../../admin/js/app/fieldValidations.js"></script>
<script src="../../admin/js/app/app_employees_client.js"></script>
</body>

</html>